body {
    font-family: montserrat, sans serif;
   display: flex;
   justify-content: center;
   align-items: center; 
   min-height: 100vh;
   background: url(../img/picture1.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /*"align-items" sirve para alinear objetos en el "Y axis"*/
    z-index: 99;
}

.logo {
    color: beige;
    font-size: 2.3rem;
    user-select: none;
    margin-right: auto;
    transition: all 1s;
}

.logo:hover {
    cursor: pointer;
    font-size: 2.5rem 
}

.nav-link.active {
    font-weight: bold;
    color: #fff;
}

.navbar a {
    color: rgb(246, 224, 196);
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after {
    content: '';
    position: absolute;
    background: #fff;
    border-radius: 5px;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1s;
}

.navbar a:hover::after {
    transform-origin: right;
    transform: scaleX(1)
}

.nav-button {
    width: 140px;
    height: 50px;
    padding: 0 auto;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 40px;
    transition: all 1s;
}

.navbar .nav-button:hover {
    color: #162838;
    background-color: #fff;
}   

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(219, 204, 204, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba ( 0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform 0.5s ease-in-out ,height 0.3s ease-in-out;
}

.wrapper.active-navbutton {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease-in-out;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease-in-out;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #101e2a;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162838;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    color: #fff;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffffffcb;
    line-height: 57px;
}

.remember-forgot {
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #101e2a;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: 0.9em;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;    
}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}


