/*=============== HOME CSS ===============*/
.home {
    &__container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5rem;
        margin-top: 2.5rem;    
    }

    &__data {
        margin-left: 3rem;
        margin-top: 2rem;
    }

    &__title {
        font-size: var(--biggest-font-size);
        font-weight: var(--font-bold);
        margin-bottom: 1.5rem;
        color: var(--title-color);
    }

    &__description {
        margin-bottom: 3rem;
        font-weight: 500;
        color: var(--text-color);
    }

    &__image { /* this is the container of the img */
        background: transparent;
        backdrop-filter: blur(5px);
        width: 470px;
        height: 470px;
        border-radius: 1rem;
        transition: all 1s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    }

    &__image:hover {
        transform: scale(1.015);
    }

    &__img {
        border-radius: 0.8rem;
        width: 450px;
        height: 96%;
        align-self: center;
        transition: all 1s ease-in-out;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
        cursor: pointer;
    }

    

    &__button {
        padding: 0.7rem 1.1rem;
        background: transparent;
        backdrop-filter: blur(5px);
        color: #fff;
        border: 3px solid #fff;
        border-radius: 17px;
        cursor: pointer;
        font-weight: var(--font-bold);
        font-size: var(--h3-font-size);
        transition: all 1s;
        margin-right: 1rem;
        
        &:hover {
            color: #162838;
            background-color: #fff;
        }
    }        
}