/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 5rem 0;

    &__title, &__title-center {
        font-size: var(--h2-font-size);
        color: var(--title-color);
        text-align: center;
        margin-bottom: var(--mb-1);
    }

    &__img {
        width: 300px;
        justify-self: center;
    }
}

/*=============== LAYOUT ===============*/

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    gap: 1.5rem;
}